/* Global Styles*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth !important;
  background: whitesmoke;
}

h1 {
  font-size: 2rem;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 5rem;
}
h3 {
  font-size: 3rem;
}
h4,
h5 {
  font-size: 2.5rem;
}

/*Navigation Bar*/


.mainHeader nav {
  color: white;
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  width: 100%;
  padding: 2rem;
  margin: auto;
  align-items: center;
  font-family: "Katibeh", cursive;
  flex-wrap: wrap;
}
.mainHeader a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 1rem 1rem;
  margin: 0;
  font-size: 8vh;
  font-weight: 800;
  border: 2px transparent black; 
  border-radius: 10px;
}


.mainHeader ul {
  display: flex;
  list-style: none;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
}

#logo {
  height: 10;
  width: 8vw;
  background: whitesmoke;
}

/* arabic text intro section */
.hero {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero h2 {
  color: 14111A;
  margin-top: 10rem;
  font-weight: 800;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInLeft;
  font-family: 'Lateef', cursive;
}
.hero h3 {
  color: black;
  margin: 5rem;
  font-family: 'Lateef', cursive;
  font-size: 4rem;
  padding-bottom: 1rem;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-name: slideInRight;
}

.button {
  position: relative;
  margin-top: 10px;
  font-size: 3rem;
  margin-top: 3rem;
  font-family: "Amiri", serif;
  padding: 2rem 4rem;
  background-color: rgba(54, 132, 156, 0.904);
  color: white;
  border-radius: 10px;
  animation-duration: 2s;
  border: none;
  cursor: pointer;
  text-decoration: none;
}
.hero .button :hover {
  background-color: rgb(17, 156, 68);
  transition: 1s ease-in-out ;
}
/* **** */
/* image gallery*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 61vw;
  height: 50vh;
  background: repeating-linear-gradient(#ACB6B2,#B2ACB6);
  border-radius: 10px;
  animation: inverseHide 2s ease-in-out;
  box-shadow: 10px grey solid ;
}
#slider {
  overflow: hidden;
  height: 49vh;
  width: 60vw;
  border-radius: 10px;
  animation: 2s hideandseek ease-in-out;
}
#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 20s ease-in-out slider infinite;
}
#slider figure img {
  width: 20%;
  float: left;
  height: 49vh;
  width: 60vw;
}
/********/
/* about section*/

#about{
  background: whitesmoke;
}
.container-about {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}
.main-header1 {
  height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
}
.main-header1 h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
  line-height: 1.2;
}
.main-header1 h1 span {
  color: #660303;
}
.main-header1 p {
  font-size: 3rem;
}
.container-about img {
  width: 100%;
}
.card {
  display: grid;
  padding: 2rem 4rem;
  border-radius: 3rem;
  height: 50vh;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: linear-gradient(rgba(8, 30, 155, 0.658),transparent);
  margin-bottom: 10rem;
  overflow: hidden;
}
.card h3 {
  margin-bottom: 5rem;
}
.card img {
  border-radius: 20px;
  overflow: hidden;
  max-width: 80%;
  height: auto;
  box-shadow: 10px 2px 5px rgb(65, 61, 61);
}
.card > div {
  padding: 2rem;
}
.card:nth-child(even) img {
  order: 2;
}
.card:nth-child(even){
  background: linear-gradient(transparent,rgba(50, 5, 92, 0.705));
}

@media (max-width: 700px) {
  .card {
    display: block;
  }
  .mainHeader a{
    border: none;
    background-color: whitesmoke;
    color: black;
    font-size: 4rem;
  }
  .mainHeader ul{
    flex: 1 1 10vh;
  }
}
/* end of about section */


/*  projects section */
.maincard{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  background:linear-gradient(whitesmoke, rgba(54, 132, 156, 0.904));
}
.card-container{
background:linear-gradient(whitesmoke,transparent);
clip-path: margin-box;
border-radius: 50px;
}
.card1{
  width: 80vw;
  height: 50vh;
  display: grid;
  padding: 4rem 4rem;
  border-radius: 3rem;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  background: linear-gradient(rgba(8, 30, 155, 0.658),transparent);
  margin-bottom: 10rem;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10rem 4rem;
}
.card1 img{
  width: 20vh;
  height: 20vh;
}
.card1:nth-child(even){
  background: linear-gradient(transparent,red);
}
/* end of projects section /*

/*** Contact Us section */
.contact{
  position: relative;
  min-height: 80vh;
  padding: 5vw 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(rgba(54, 132, 156, 0.904),whitesmoke);
}
.contact .content{
  max-width: 70vw;
  text-align: center;
}
.contact .content h2{
  font-size: 5rem;
  font-weight: 800;
  padding: 3rem 1rem;
}
.contact .content p{
  font-weight: 400;
  font-size: 3rem;
}
.container2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
.container2 .contactinfo{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.container2 .contactinfo .box{
  position: relative;
  padding: 2rem;
}
.container2 .contactinfo .box .icon{
  min-width: 40px;
  height: 40px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 5rem;
}
.container2 .contactinfo .box .text{
  display: flex;
  margin-left: 2rem;
  font-size: 3rem;
  flex-direction: column;
  font-weight: 400;
}
.contactForm{
  width: 50%;
  padding: 5rem;
  background: linear-gradient(red,transparent);

}
.contactForm h2{
  font-size: 4rem;
  color: #fff;

}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}
.contactForm .inputBox input{
  width: 100%;
  padding: 5px 0;
  font-size: 2rem;
  margin: 1rem 0;
}
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  margin: 1rem 0;
}
.contactForm span{
  font-size: 2rem;
}
/*** End of contact us Section */

/* animation section */
@keyframes slideInLeft {
  0% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(300%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes showButton {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hideandseek {
  0% {
    opacity: 0;
    scale: 0;
    transform: translateY(0);
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

@keyframes inverseHide {
  0% {
    opacity: 0;
    scale: 1.5;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}


@keyframes slideInLeftPencil {
  0% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes pencilDraw {
  0% {
    border: 3px black solid;
    opacity: 0.3;
  }
  50% {
    opacity: 0.9;
    border: 3px rgb(36, 31, 31) solid;
  }
  100% {
    opacity: 0.3;
    border: 3px black solid;
  }
}
